In [3]:
import pandas as pd
import numpy as np

In [25]:
video_dict = ['video_id', 'video_name', 'section_name', 'degree_name']
video_ids = np.arange(1,10)
video_name = [
    'Program Introduciton', 
    'Overfitting',
    'Euclidean distance',
    'Program Introduction',
    'Data Cleaning',
    'Histograms',
    'Program Introduction',
    'SparkSQL',
    'DAGS',
]
section_name = [
    'Introduction to Data Science',
    'Supervised Learning with Linear Regression', 
    'Unsupervised Learning with K-Means',
    'Introduction to Data Analysis',
    'Data Wrangling with Pandas',
    'Visualizations with Matplotlib',
    'Introduction to Data Engineering',
    'Data Lakes with Spark',
    'Data Pipelines with Airflow'
]
degrees = ['Data Science','Data Analytics','Data Engineering']
numbers = [3, 3, 3]
degree_name = [x for x, number in zip(degrees, numbers) for _ in range(number)]
video_df = pd.DataFrame(columns=video_dict)
video_df['video_id'] = video_ids
video_df['video_name'] = video_name
video_df['section_name'] = section_name
video_df['degree_name'] = degree_name
video_df.to_json('video_log_dim.json')

In [26]:
video_df

,video_id,video_name,section_name,degree_name
0,1,Program Introduciton,Introduction to Data Science,Data Science
1,2,Overfitting,Supervised Learning with Linear Regression,Data Science
2,3,Euclidean distance,Unsupervised Learning with K-Means,Data Science
3,4,Program Introduction,Introduction to Data Analysis,Data Analytics
4,5,Data Cleaning,Data Wrangling with Pandas,Data Analytics
5,6,Histograms,Visualizations with Matplotlib,Data Analytics
6,7,Program Introduction,Introduction to Data Engineering,Data Engineering
7,8,SparkSQL,Data Lakes with Spark,Data Engineering
8,9,DAGS,Data Pipelines with Airflow,Data Engineering

In [27]:
project_name = ['Write a Data Science Blog Post', 
                'Predicting Boston Housing Prices', 
                'Netflix Dataset Clustering',
                'Analyze Experiment Results',
                'Wrangle and Analyze Data',
                'Communicate Data Findings',
                'Build a Cloud Data Warehouse',
                'Build a Data Lake',
                'Data Pipelines with Airflow']

project_dict = ['project_id', 'section_id', 'project_name', 'section_name', 'degree_name']
project_df = pd.DataFrame(columns=project_dict)
project_df['project_id'] = np.arange(1,10)
project_df['section_id'] = np.arange(1,10)
project_df['project_name'] = project_name
project_df['section_name'] = section_name
project_df['degree_name'] = degree_name
project_df.to_json('project_dim.json')

In [30]:
project_df.head()

,project_id,section_id,project_name,section_name,degree_name
0,1,1,Write a Data Science Blog Post,Introduction to Data Science,Data Science
1,2,2,Predicting Boston Housing Prices,Supervised Learning with Linear Regression,Data Science
2,3,3,Netflix Dataset Clustering,Unsupervised Learning with K-Means,Data Science
3,4,4,Analyze Experiment Results,Introduction to Data Analysis,Data Analytics
4,5,5,Wrangle and Analyze Data,Data Wrangling with Pandas,Data Analytics
5,6,6,Communicate Data Findings,Visualizations with Matplotlib,Data Analytics
6,7,7,Build a Cloud Data Warehouse,Introduction to Data Engineering,Data Engineering
7,8,8,Build a Data Lake,Data Lakes with Spark,Data Engineering
8,9,9,Data Pipelines with Airflow,Data Pipelines with Airflow,Data Engineering